<p style="color: green"><%= notice %></p>

<%= render @admin_skill %>

<div>
  <%= link_to "Edit this skill", edit_admin_skill_path(@admin_skill) %> |
  <%= link_to "Back to skills", admin_skills_path %>

  <%= button_to "Destroy this skill", @admin_skill, method: :delete %>
</div>
