<% content_for :head do %>
  <%= stylesheet_link_tag 'jobseeker-detail', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<p style="color: green"><%= notice %></p>

<div class="logo-header">
  <%= image_tag("techyeet-logo.webp", class: "logo-header-image", alt: "techyeet logo") %>
</div>

<div class="jb-content">

  <div class="green-style-column"></div>
  <div class="jobseeker-detail-view">
    <%= render partial: "job_seekers/job_seeker_detail", locals: { job_seeker: @job_seeker } %>

    <div class="back-links-container">
      <div class="navigation-links">
        <%= link_to "Edit this job seeker", edit_job_seeker_path(@job_seeker), class: "edit-link" %> |
        <%= link_to "Back to job seekers", job_seekers_path, class: "back-to-jobseeker-link" %>
      </div>
      <%= button_to "Delete Profile", @job_seeker, method: :delete, class: "delete-button" %>
    </div>
  </div>

  <div class="green-style-column"></div>

</div>