<% content_for :head do %>
  <%= stylesheet_link_tag 'forgot-pass', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="logo-header">
  <%= image_tag("techyeet-logo.webp", class: "logo-header-image", alt: "techyeet logo") %>
</div>

<div class="content">
  <div class="green-style-column"></div>

  <div class="forgot-pass-container">
    <div class="forgot-pass-form">

      <h2 class="title">Forgot password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "email" %>
        </div>
        <br>

        <div class="actions">
          <%= f.submit "Reset Password", class: "submit" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>

  <div class="green-style-column"></div>

</div>