<% content_for :head do %>
  <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="logo-header">
  <%= image_tag("techyeet-logo.webp", class: "logo-header-image", alt: "techyeet logo") %>
</div>

<div class="content">
  <div class="green-style-column"></div>

  <div class="login-form-container">
    <div class="login-form">
      <h2 class="title">Sign In</h2>

      <div class="new-user-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br/>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "password" %>
          </div>
          <br>

          <%# if devise_mapping.rememberable? %>
<!--            <div class="field">-->
              <%#= f.check_box :remember_me %>
              <%#= f.label :remember_me %>
<!--            </div>-->
          <%# end %>

          <div class="actions">
            <%= f.submit "Log in", class: "submit" %>
          </div>
        <% end %>
        <br>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="green-style-column">
  </div>
</div>